.welcome-frame {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

h1 {
  font-size: 50px;
  margin-inline: 10%;
  color: black;
}

.word {
  font-size: 5vw;
}



@media screen and (max-width:960px) {

 h1 {
  font-size: x-large;
 }
}
