.welcome-frame {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 5%;
  background-image: url("back-new.png");
  background-size: 70%;
}

.word {
  font-size: 6vw;
  font-weight: 300;
  margin: 0.5%;
}

.welcome-info {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  background-color: #473F3B;
}

.welcome-info svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 162px;
}

.welcome-info .shape-fill {
  fill: #ffffff;
}

.welcome-info2 {
  font-size: 3vw;
  font-weight: 200;
  color: #ffffff;
  background-color: #473F3B;
  padding-inline: 3%;
}

.welcome-explanation {
  background-color: #473F3B;
  font-size: 1.5vw;
  color: #ffffff;
  padding-top: 3%;
  padding-inline: 3%;
}

.welcome-explanation .temp {
  padding: 6%;
}
.welcome-div {
  display: flex;
  align-items: center;

  background-color: #473F3B;
  font-size: 1.5vw;
  color: #ffffff;
  padding-inline: 3%;
}

.welcome-explanation2 {
  flex: 1;
}


.PIC {
  border-radius: 30px;
}

.link-section {
  padding: 3%;
  background-color: #ffff;
  font-size: 3vw;
  font-weight: 200;
}

.svg-link {
  position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.svg-link svg {
  position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
    transform: rotateY(180deg);
}
.svg-link .shape-fill {
  fill: #473F3B;
}

@media screen and (max-width:960px) {
}
